<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include relyOn.ejs %>

    <style type="text/css">


    </style>

  </head>
  <body>

    <div>
      <form action="users/addUser" method="post">
        <div>
          <label for="userName">用户名:</label><input name="userName" type="text">
        </div>

        <div>
          <label for="passWord">密码:</label><input name="passWord" type="text">
        </div>

        <button type="submit">提交</button>
      </form>
    </div>

  </body>
</html>
