<!--模版-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>背景墙信息管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <style>
        head{
            width:100%;
            height:100%;
        }
        body{
            width:100%;
            height:100%;
            margin: 0px;
        }

        .wu-el-pagination{
            padding:5px 2px;
            background-color: #f5f7fa;
        }
        .wu-ae-dialog>.el-dialog__header{
            background-color: #f5f7fa;
        }
        .wu-ae-dialog>.el-dialog__body{
            padding:10px 20px 0px 20px;
        }
        .wu-ae-dialog>.el-dialog__footer{
            background-color: #f5f7fa;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .wu-el-pagination-refresh{
            display: inline-block;
            font-size: 13px;
            min-width: 35.5px;
            height: 28px;
            line-height: 28px;
            vertical-align: top;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            font-weight: 400;
            color: #606266;
            margin-left: 15px;
            margin-right: 15px;

            cursor: pointer;
        }
    </style>

</head>

<body>
<div id="pageId">
</div>
</body>

<script type="text/javascript" src="/easyui/jquery.min.js" charset="utf-8"></script><!--导入jq文件-->
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>

    Vue.component('datagrid-page',{
        render: function(createElement){
            //创建table-head
            var tableHeadEle = this.getHeadPanelEle(createElement);

            //创建table
            var tableEle = this.getTableEle(createElement);

            //创建分页Vnode
            var paginationEle = this.getPaginationEle(createElement);

            var dialogEle = this.getDialogByAddEdit(createElement);

            var rootEle = createElement('div',{props:{},on:{},style:{width:'100%',height:'100%'}},[tableHeadEle,tableEle,paginationEle,dialogEle]);
            return rootEle;
        },
        props:['datagridSetting'],
        data:function(){
            var setting =  {
                url:'',
                tableHeight:'calc( 100% - 82px)',
                headSetting:{
                    getSearchPanel:(createElement)=>{},
                    getToolPanel:(createElement)=>{
                        return createElement('div',{style:{width:'100%',padding:'4px 5px',boxSizing:'border-box'}},[
                            createElement('el-button',{props:{type:'primary',size:'medium'},on:{click:()=>this.openAddDialogHandler()},domProps:{innerHTML:'添加<i class="el-icon-upload el-icon-plus"></i>'}}),
                        ]);
                    }
                },
                tableSetting:{
                    fit:true,
                    stripe:true,//斑马线
                    border:true,
                    'row-key':'id',
                    height:'100%',
                    size:'medium',
                    'highlight-current-row':true,//是否要高亮当前行
                    //'current-row-key':'id',
                    'header-cell-style':{backgroundColor:'#139de4',color:'white'},
                    data:[]
                },
                paginationSetting:{
                    layout:"sizes,prev, pager, next,jumper,slot,->,total",
                    total:20,
                    currentPage:1,//当前的页码
                    pageSize:10,//每页的行数
                    pageSizes:[10,20,50,100,200],
                    background:true,
                },
                column:[],
                operationRow:{
                    prop:'caozuo',
                    label:'操作',
                    width:'180px',
                    getScopedSlots: (createElement) => {
                        return {
                            default: (props) => {
                                return [
                                    createElement('el-button',{props:{type:'primary',size:'small'},on:{click:()=>this.openEditDialogHandler(props.row.id,props.row)},domProps:{innerHTML:'编辑<i class="el-icon-upload el-icon-edit"></i>'}}),
                                    createElement('el-button',{props:{type:'danger',size:'small'},on:{click:()=>this.deleteHandler(props.row.id,props.row)},domProps:{innerHTML:'删除<i class="el-icon-upload el-icon-delete"></i>'}})
                                ];
                            }
                        }
                    }
                },
                dialogSetting:{
                    title:'窗口',
                    visible:false,
                    width:'600px',
                    'custom-class':'wu-ae-dialog',
                    'before-close':(done)=>{done();}
                },
                submitHandler:function(){},
                formRefName:'form',
                formData:{},
                getFormEle:(createElement,formData,formRefName)=>{},

                loading:null
            };

            setting = $.extend(true,setting,this.datagridSetting);
            return setting;
        },
        methods:{
            /**
             *  获取远程分页的数据内容
             */
            getData:function(){
                this.openLoadingCom();
                $.post(this.url,{page:this.currentPage,rows:this.pageSize},(result)=>{
                    this.closeLoadingCom();

                    this.tableSetting.data = result.rows;
                    this.paginationSetting.total = result.total;
                });
            },
            /**
             * 创建头部
             * @param createElement
             * @return {*}
             */
            getHeadPanelEle:function(createElement){

                var searchPanelEle = this.headSetting.getSearchPanel(createElement);
                var toolPanelEle = this.headSetting.getToolPanel(createElement);
                return createElement('div',{style:{width:'100%'}},[searchPanelEle,toolPanelEle]);
            },
            /**
             * 创建表格
             * @param createElement
             * @return {*}
             */
            getTableEle:function(createElement){
                var columnEles =  this.column.map((item,index)=>{
                    return createElement('el-table-column',{key:item.prop,props:item});
                });
                if(this.operationRow != undefined && this.operationRow != null)
                {
                    columnEles.push(createElement(
                        'el-table-column',
                        {
                            key:this.operationRow.prop,
                            props:{prop:this.operationRow.prop,label:this.operationRow.label,width:this.operationRow.width},
                            scopedSlots: this.operationRow.getScopedSlots(createElement)
                        }
                    ));
                }
                var tableEle = createElement('el-table',{props:this.tableSetting,style:{width:'100%',height:this.tableHeight}},columnEles);
                return tableEle;
            },
            /**
             * 创建分页栏
             * @param createElement
             * @return {*}
             */
            getPaginationEle:function(createElement){
                return createElement('el-pagination',
                    {
                        class:['wu-el-pagination'],
                        props:this.paginationSetting,
                        on:{
                            'size-change':(size)=>{this.paginationSetting.pageSize=size;this.getData();},
                            'current-change':(currentPage)=>{this.paginationSetting.currentPage=currentPage;this.getData();},
                        }
                    },
                    [createElement('div',{slot:'default',class:'wu-el-pagination-refresh',domProps:{innerHTML:'<i class="el-icon-refresh"></i>刷新'},on:{click:this.getData}})]
                );
            },
            /**
             * 创建 添加/编辑窗口
             * @param createElement
             * @return {*}
             */
            getDialogByAddEdit:function(createElement){
                return createElement('el-dialog',
                    {
                        props:this.dialogSetting,on:{close:this.clearForm}
                    },
                    [
                        this.getFormEle(createElement,this.formData,this.formRefName),
                        createElement('div',{slot:'footer',style:{'background-color':'#f5f7fa'}},[
                            createElement('el-button',{props:{type:'warning',size:'medium','native-type':'button'},on:{click:()=>{this.$refs[this.formRefName].resetFields();}},domProps:{innerHTML:'重置'}}),
                            createElement('el-button',{props:{type:'warning',size:'medium','native-type':'button'},on:{click:()=>{this.dialogSetting.visible=false;}},domProps:{innerHTML:'取消'}}),
                            createElement('el-button',{props:{type:'primary',size:'medium','native-type':'button'},on:{click:this.sumbitFun},domProps:{innerHTML:'保存'}})
                        ])
                    ]
                );
            },
            openLoadingCom:function () {
                this.loading = this.$loading({
                    lock: true,
                    text: 'loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.2)'
                });
            },
            closeLoadingCom:function () {
                this.loading.close();
            },
            /**
             * 打开添加窗口
             */
            openAddDialogHandler:function(){
                this.dialogSetting.visible = true;
                this.submitHandler = this.addHandler;
            },
            /**
             * 打开编辑窗口
             * @param id
             * @param row
             */
            openEditDialogHandler:function(id,row){
                this.dialogSetting.visible = true;
                this.submitHandler = this.editHandler;
                this.formData = $.extend(true,{},row);
            },
            /**
             * 清除表单的内容
             */
            clearForm:function(){
                /*for(var name in this.formData)
                {
                    this.formData[name] = null;
                }*/
                //this.$refs[this.formRefName].clearValidate();
                this.$refs[this.formRefName].resetFields();
            },
            /**
             * 窗口的保存按钮的点击事件处理器
             */
            sumbitFun:function(){
                //先对表单进行验证
                this.$refs[this.formRefName].validate((validateResult)=>{
                    if(validateResult==true)
                    {
                        this.submitHandler(this.formData,(flag)=>{
                            if(flag == true)
                            {
                                this.dialogSetting.visible = false;
                                this.getData();
                            }
                        });
                    }
                    else
                    {
                        this.$alert('请检查输入的内容是否正确', '提示', {confirmButtonText: '确定',type:'warning',callback:()=>{}});
                    }
                });
            },
            /**
             * 保存新数据
             * @param {Object} data - 要保存的数据
             * @param {Function} callback - 回调函数
             */
            addHandler:function(data,callback){
                $.post('/backgroundCase/insert',data,(result)=>{
                    if(result.success!=true)
                    {
                        this.$alert('添加失败', '警告', {confirmButtonText: '确定',type:'warning',callback:()=>{}});
                    }
                    callback(result.success);
                },'json');
            },
            /**
             * 保存需要修改的数据
             * @param {Object} data - 要保存的数据
             * @param {Function} callback - 回调函数
             */
            editHandler:function(data,callback){
                $.post('/backgroundCase/update',data,(result)=>{
                    if(result.success!=true)
                    {
                        this.$alert('编辑失败', '警告', {confirmButtonText: '确定',type:'warning',callback:()=>{}});
                    }
                    callback(result.success);
                },'json');
            },
            /**
             * 删除记录
             * @param id
             * @param row
             */
            deleteHandler:function(id,row){
                console.log(id);
            },
        },
        mounted:function(){
            this.getData();
        }
    });




    new Vue({
        el: '#pageId',
        render: function (createElement) {
            return createElement(
                'el-container', {attrs:{ id:'app'},style:{height:this.height}},
                [
                    createElement(
                        'datagrid-page',
                        {
                            props:{datagridSetting:this.datagridSetting},
                        }
                    )
                ]
            );
        },
        data:function(){
            return {
                height: window.innerHeight+'px',
                datagridSetting:{
                    url:'/backgroundCase/selectPage',
                    tableSetting:{
                        data:[]
                    },
                    column:[
                        {prop:'name',label:'名称',width:'100px'},
                        {prop:'customer',label:'客户名称',width:'100px'},
                        {prop:'address',label:'地址',width:'150px'},
                        {prop:'time',label:'项目时间',width:'100px',
                            formatter:function(row, column, cellValue){
                            var date = new Date(cellValue);
                            return date.getFullYear()
                                +'-'+ (String(date.getMonth()+1).length==1?'0'+(date.getMonth()+1):(date.getMonth()+1))
                                +'-'+ (String(date.getDate()).length==1?'0'+(date.getDate()):(date.getDate()));
                        }},
                        {prop:'size',label:'大小',width:'100px'},
                        {prop:'describe',label:'描述',width:'150px'}
                    ],
                    formData:{
                        name:'',
                        customer:'',
                        address:'',
                        time:null,
                        size:'',
                        describe:''
                    },
                    getFormEle:(createElement,formData,formRefName)=>{
                        var nameEle = createElement('el-form-item',{props:{label:'名称',prop:'name'}},[
                            createElement('el-input',{
                                props:{value:formData.name},
                                on:{change:function(value){formData.name = value;}}
                            })
                        ]);
                        var customer = createElement('el-form-item',{props:{label:'客户名称',prop:'customer'}},[
                            createElement('el-input',{
                                props:{value:formData.customer},
                                on:{change:function(value){formData.customer = value;}}
                            })
                        ]);
                        var address = createElement('el-form-item',{props:{label:'地址',prop:'address'}},[
                            createElement('el-input',{
                                props:{value:formData.address},
                                on:{change:function(value){formData.address = value;}}
                            })
                        ]);
                        var time = createElement('el-form-item',{props:{label:'项目时间',prop:'time'}},[
                            createElement('el-date-picker',{
                                props:{value:formData.time,type:'date'},
                                on:{input:function(value){formData.time = value;}}
                            })
                        ]);
                        var size = createElement('el-form-item',{props:{label:'大小',prop:'size'}},[
                            createElement('el-input',{
                                props:{value:formData.size},
                                on:{change:function(value){formData.size = value;}}
                            })
                        ]);
                        var describe = createElement('el-form-item',{props:{label:'描述',prop:'describe'}},[
                            createElement('el-input',{
                                props:{value:formData.describe,type:'textarea',rows:2},
                                on:{change:function(value){formData.describe = value;}}
                            })
                        ]);

                        var inputEles = [[nameEle,customer],[address],[time,size],[describe]];
                        var formContentEles = inputEles.map((item,index)=>{
                            var size = 24 / item.length;
                            return createElement('el-row',{},item.map((ele,index)=>{
                                return createElement('el-col',{props:{span:size}},[ele]);
                            }));
                        });

                        var ruleArr = {
                            name:[{required: true, message: '请输入名称', trigger: 'blur'}],
                            customer:[{required: true, message: '请输入客户名称', trigger: 'blur'}],
                            address:[{required: true, message: '请输入地址名称', trigger: 'blur'}]
                        };

                        return createElement('el-form',{props:{model:formData,rules:ruleArr,'status-icon':true,'label-width':'80px'},ref:formRefName},[formContentEles]);
                    }
                }
            };
        },
        methods:{
        }
    });
</script>

</html>