@font-face {font-family: "wuiconfont";
  src: url('../tff/iconfont.ttf?t=1515744409778') format('truetype');
}

.wuiconfont {
  font-family:"wuiconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wuicon-left-copy:before { content: "\e6a8"; }

.wuicon-right-copy:before { content: "\e62f"; }

.wuicon-liebiao:before { content: "\e62a"; }

.wuicon-zoomIn:before { content: "\e635"; }

.wuicon-zoomOut:before { content: "\e636"; }

.wuicon-zhongzhi:before { content: "\e602"; }

