<script type="text/javascript">

    $(function () {
        /*设置性别下拉选择框*/
        $("#gender").combobox({
            data:[{text:'男',value:'男'},{text:'女',value:'女'}],
            panelMaxHeight:200,
            panelHeight:"auto",
            value:"男"
        });

        /*设置用户类型下拉选择框*/
        $("#userType").combobox({
            data:[{text:'普通用户',value:'1'},{text:'管理员',value:'0'}],
            panelMaxHeight:200,
            panelHeight:"auto",
            value:"1"
        });

        /*设置用户状态下拉选择框*/
        $("#status").combobox({
            data:[{text:'正常',value:'1'},{text:'锁定',value:'0'}],
            panelMaxHeight:200,
            panelHeight:"auto",
            value:"1"
        });

        /*设置所属部门状态下拉选择框*/
        $("#depId").combobox({
            data:[],
            panelMaxHeight:200,
            panelHeight:"auto"
        });

        $("#roles").combobox({
            url:"/role/selectList",
            valueField:"id",
            textField:"name",
            panelMaxHeight:200,
            panelHeight:"auto"
        });
    });

    /* 页面接口 */
    var dialogHook = {
        /**
         * 供主页面使用的,当前窗口内的表单的提交方法
         *
         * @param callback 回调函数
         *
         */
        submitForm: function(callback){
            if( typeof callback == "function" )
            {
                $("#addFrom").form("submit",{
                    url:"/user/insert",
                    onSubmit:function(param){
                        var flat = $("#addFrom").form('validate');
                        if(flat == false)
                        {
                            $.messager.alert('info','请检查输入的数据是否正确!','error');
                            return false;
                        }
                        return true;
                    },
                    success:function(data){
                        data = $.parseJSON(data);
                        callback(data);
                    }
                });
            }
            else
            {
                throw new error("callback参数的类必须为函数");
            }
        }
    };

</script>

<style>
    form td,form tr{
        height:40px;
    }
</style>

<div style="padding: 3px;">
    <form id="addFrom" method="post">
        <table class="grid">
            <tr>
                <td class="trLeft width-15">
                    <label for="userName">登录名称:</label>
                </td>
                <td class="trRight width-35">
                    <input class="easyui-textbox" name="userName" style="width: 200px; height: 29px;"/>
                </td>

                <td class="trLeft width-15">
                    <label for="passWord">登录密码:</label>
                </td>
                <td class="trRight width-35">
                    <input class="easyui-textbox" name="passWord" style="width: 200px; height: 29px;"/>
                </td>
            </tr>

            <tr>
                <td class="trLeft width-15">
                    <label for="name">用户名称:</label>
                </td>
                <td class="trRight width-35">
                    <input class="easyui-textbox" name="name" style="width: 200px; height: 29px;"/>
                </td>

                <td class="trLeft width-15">
                    <label for="gender">性别:</label>
                </td>
                <td class="trRight width-35">
                    <input id="gender" name="gender" style="width: 200px; height: 29px;"/>
                </td>
            </tr>

            <tr>
                <td class="trLeft width-15">
                    <label for="userType">用户类型:</label>
                </td>
                <td class="trRight width-35">
                    <input id="userType" name="userType" style="width: 200px; height: 29px;"/>
                </td>

                <td class="trLeft width-15">
                    <label for="status">状态:</label>
                </td>
                <td class="trRight width-35">
                    <input id="status" name="status" style="width: 200px; height: 29px;"/>
                </td>
            </tr>

            <tr>
                <td class="trLeft width-15">
                    <label for="age">年龄:</label>
                </td>
                <td class="trRight width-35">
                    <input class="easyui-numberbox" name="age" data-options="" style="width: 200px; height: 29px;"/>
                </td>

                <td class="trLeft width-15">
                    <label for="depId">所属部门:</label>
                </td>
                <td class="trRight width-35">
                    <input id="depId" name="depId" style="width: 200px; height: 29px;"/>
                </td>
            </tr>

            <tr>
                <td class="trLeft width-15">
                    <label for="roles">角色:</label>
                </td>
                <td class="trRight width-85" colspan="3">
                    <input id="roles"  name="roles" style="width: 530px; height: 29px;"/>
                </td>
            </tr>

            <tr>
                <td class="trLeft width-15">
                    <label for="remark">备注:</label>
                </td>
                <td class="trRight width-85" colspan="3">
                    <input class="easyui-textbox" name="remark" data-options="multiline:true" style="width: 530px; height: 60px;"/>
                </td>
            </tr>
        </table>
    </form>
</div>